@font-face {
  font-family: 'Ksphonet';
  src: url("../css/fonts/Ksphonet.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'WordHackerPhonetic';
  src: url("../css/fonts/WordHackerPhonetic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* line 18, ../../../../compass/sass/style.scss */
.masthead {
  height: 60%;
  background-image: url("../images/12.jpg");
}

/* line 24, ../../../../compass/sass/style.scss */
.ui.middlebig {
  padding-top: 12rem;
}

/* line 28, ../../../../compass/sass/style.scss */
.margin100px {
  display: block;
  margin-top: 100px;
}

/* line 33, ../../../../compass/sass/style.scss */
h1 span.library {
  display: block;
  font-size: 1.75em;
  font-weight: bold;
}

/* line 39, ../../../../compass/sass/style.scss */
div.ui.container {
  margin: 2em 0 2em;
}
/* line 41, ../../../../compass/sass/style.scss */
div.ui.container a.fluid.ui.button {
  margin-top: 1.5em;
}

/* line 46, ../../../../compass/sass/style.scss */
#play {
  cursor: pointer;
  font-family: "Ksphonet", "WordHackerPhonetic", "lucida sans unicode", arial, sans-serif;
}

/* line 51, ../../../../compass/sass/style.scss */
.admin.ui.button {
  margin-top: 5px;
  line-height: 5px;
}

/* line 56, ../../../../compass/sass/style.scss */
.bottom-button {
  position: fixed;
  bottom: 10px;
}
/* line 59, ../../../../compass/sass/style.scss */
.bottom-button .right {
  position: absolute;
  right: 0;
}
